{% extends "nav.html" %}

{% block title %}

{% endblock %}
<script>
        // Fungsi untuk mengecek status deteksi wajah dari server
        async function checkStatus() {
            try {
                const response = await fetch('/status');
                const data = await response.json();
                const statusText = document.getElementById("statusText");

                // Mengubah teks berdasarkan status dari server
                if (data.already_present) {
                    statusText.innerText = "ALREADY PRESENT";
                    statusText.style.color = "yellow"; // Warna kuning untuk pesan "ALREADY PRESENT"
                } else if (data.detected) {
                    statusText.innerText = "DETECT";
                    statusText.style.color = "green"; // Warna hijau untuk pesan "DETECT"
                } else {
                    statusText.innerText = "READY";
                    statusText.style.color = "blue"; // Warna biru untuk pesan "READY"
                }
            } catch (error) {
                console.error("Error fetching status:", error);
            }
        }

        // Mengecek status setiap 1 detik
        setInterval(checkStatus, 1000);
</script>

{% block body1 %}
<body class="bg-gray-300 dark:bg-gray-300 min-h-screen flex items-center justify-center">
    <div class="bg-gray-300 flex min-h-screen justify-center items-center">
        <div>
            <h1></h1>
        </div>
            <br>
        <div class="border-8 border-purple-300 rounded-lg shadow-lg h-96 w-96">
            <img src="{{ url_for('video_feed') }}" class="rounded-lg h-full w-full object-cover" alt="Video Stream">
        </div>
        <div class="border-8 border-purple-300 rounded-lg shadow-lg h-24 w-60 ml-4 flex items-center justify-center">
            <h1 id="statusText" class="text-xl font-bold text-slate-50">READY</h1>
        </div>
    </div>
</body>
{% endblock %}

