{% extends "nav.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block body1 %}

<body class="bg-gray-300 min-h-screen flex items-center justify-center">
    <section class="w-full max-w-md mx-auto">
        <div class="flex flex-col items-center justify-center px-6 py-8">
            <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-black">
                <img class="w-8 h-8 mr-2" src="{{ url_for('static', filename='logo/Logo_SMK.png') }}" alt="logo">
                FaSTM 
            </a>
            <div class="w-full bg-black rounded-lg shadow border border-black">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-white md:text-2xl">
                        Sign Up  
                    </h1>
                    <form class="space-y-4 md:space-y-6" action="/register" method="post" enctype="multipart/form-data">
                        <div>
                            <label for="username" class="block mb-2 text-sm font-medium text-white">Username</label>
                            <input type="username" name="username" id="username" class="bg-gray-700 border border-gray-600 text-white rounded-lg
                             focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 placeholder-gray-400" 
                               placeholder="Username" required="">
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-white">Password</label>
                            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-700 border border-gray-600
                             text-white rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-400"
                               required="">
                        </div>
                        <div>
                            <!-- Photo Depan -->
                            <label for="photo_depan" class="block mb-2 text-sm font-medium text-white">Upload Foto Wajah Bagian Depan:</label>
                            <input type="file" id="photo_depan" name="photo_depan" accept="image/*" class="hidden" required>
                            <label for="photo_depan" class="flex items-center justify-center px-4 py-2 mb-2 text-sm font-medium text-white bg-gray-600 rounded-lg cursor-pointer hover:bg-gray-700">
                                Pilih File
                            </label>
                            <p id="photo_depan_indicator" class="text-sm font-medium text-white"></p>
                        
                            <!-- Photo Kanan -->
                            <label for="photo_kanan" class="block mb-2 text-sm font-medium text-white">Upload Foto Wajah Bagian Kanan:</label>
                            <input type="file" id="photo_kanan" name="photo_kanan" accept="image/*" class="hidden" required>
                            <label for="photo_kanan" class="flex items-center justify-center px-4 py-2 mb-2 text-sm font-medium text-white bg-gray-600 rounded-lg cursor-pointer hover:bg-gray-700">
                                Pilih File
                            </label>
                            <p id="photo_kanan_indicator" class="text-sm font-medium text-white"></p>
                        
                            <!-- Photo Kiri -->
                            <label for="photo_kiri" class="block mb-2 text-sm font-medium text-white">Upload Foto Wajah Bagian Kiri:</label>
                            <input type="file" id="photo_kiri" name="photo_kiri" accept="image/*" class="hidden" required>
                            <label for="photo_kiri" class="flex items-center justify-center px-4 py-2 mb-2 text-sm font-medium text-white bg-gray-600 rounded-lg cursor-pointer hover:bg-gray-700">
                                Pilih File
                            </label>
                            <p id="photo_kiri_indicator" class="text-sm font-medium text-white"></p>
                        </div>                        
                        <button type="submit" class="w-full text-white bg-gray-600 hover:bg-gray-700 focus:ring-4 focus:outline-none
                         focus:ring-gray-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Sign Up</button>
                        <p class="text-sm font-light text-gray-400">
                             <a href="{{ url_for('signin') }}" class="font-medium text-gray-500 hover:underline">Sudah Punya Akun</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const updateIndicator = (inputId, indicatorId) => {
                const input = document.getElementById(inputId);
                const indicator = document.getElementById(indicatorId);

                input.addEventListener('change', function () {
                    const fileName = input.files.length > 0 ? input.files[0].name : 'Tidak ada file dipilih';
                    indicator.textContent = `File selected: ${fileName}`;
                });
            };

            updateIndicator('photo_depan', 'photo_depan_indicator');
            updateIndicator('photo_kanan', 'photo_kanan_indicator');
            updateIndicator('photo_kiri', 'photo_kiri_indicator');
        });
    </script>
</body>

{% endblock %}
